{{page-title "Posts"}}

<div style='background-color: grey;color: white;'>
  <h1>Hello this is posts.index route</h1>
  <p>By default its rendered.</p>
  <p>outlet helper in posts is replaced by templates/posts/index.hbs</p>
</div>