{{page-title 'New'}}

<div style="background-color: grey;color: white;">
    <h1>This is posts.new route</h1>
    <h3>outlet inside posts template will be replaced by templates/posts/new.hbs</h3>
</div>

{{outlet}}