<Message::Avatar @isActive={{true}} @title="Tomster's avatar" @initial='T' />

<section>
  <Message::Username @name='Tomster' @localTime={{" 5:00 PM"}} />

  <p>
    Hey Zoey, have you had a chance to look at the EmberConf brainstorming doc I
    sent you?
  </p>
</section>