<h1>This is the application route.</h1>

<h3>Availabe routes</h3>
<ul>
  <li><LinkTo @route='application' >
      /
    </LinkTo></li>
  <li><LinkTo @route='posts'  >
      /posts
    </LinkTo></li>
  <li><LinkTo @route='posts.new' >
      /posts/new
    </LinkTo></li>
</ul>

<hr />
{{outlet}}