{{page-title "Home"}}

<div style='background-color: grey; color: white;'>
    <h2>This is application.index route</h2>
    <h4>
        outlet helper in application.hbs template 
        is replaced by app/templates/index.hbs template
    </h4>
</div>